* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-expense-close-popup {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.add-expense-close-popup img {
    height: 20;
    width: 20px;
    border-radius: 50%;
}

.add-expense-popup {
    position: absolute;
    top: 15vh;
    left: 36vw;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* width: 30vw; */
    padding: 10px;
    background-color: #2f333d;
    z-index: 10;
}

.add-expense-date,
.add-expense-item,
.add-expense-amount,
.add-expense-category,
.add-expense-description {
    background-color: #12151e;
    margin-top: 10px;
    padding: 5px 3px 3px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-expense-item input,
.add-expense-amount input,
.add-expense-category select,
.add-expense-description input {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 200px;
    margin-left: 5px;
    padding-left: 4px;
}

.add-expense-category select {
    /* width: 100%; */
    margin-left: 5px;
}

.add-expense-date input {
    border: 2px solid black;
    width: 200px;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 5px;

}

.add-expense-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.add-expense-submit button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}