.False {
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 2%;
    width: 100%;

}

.True {
    background-color: greenyellow;
    border-radius: 10px;
    margin-bottom: 2%;
    width: 100%;

}

.listdetails1 {
    width: 100%;
    display: flex;
}

.listimage {
    width: 10%;
}

.listname1 {
    font-size: 1.5rem;
    font-weight: 600;

}

.listdate1 {
    font-size: 1.5rem;
}

.listtype {
    bottom: 5%;
    font-size: 1.5rem;
    left: 50%;
}

.listmoney1 {
    font-size: 1.5rem;

}

.listdescription1 {
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 2%;
    width: 100%;
}

.listdesc1 {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.listcollapsebutton1 {

    width: 5%;
    height: 50%;
    font-size: 1rem;
    background-color: gray;
    border-color: black;


}

.textv {
    margin: auto;
}