.due-details-for-customer{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: #191c24;
    /* padding: 10px; */
    margin: 4px 1px;
    justify-content: space-between;
}
.due-details-for-customer span{
    background-color: #12151e;
    padding: 10px 5px;
}
.due-details-for-customer > span:nth-child(1){
    width: 50%;
}
.due-details-for-customer > span:nth-child(2){
    width: 20%;
}
.due-details-for-customer > span:nth-child(3){
    width: 30%;
}
.due-details-for-customer span{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}