.bigboxm{
    background-color: green;
    width: 10%;
    height: auto;
    padding-right: 30%;
    padding-left: 1%;
    padding-top: 2%;
    margin-top: 2%;
    margin-right: 1%;
    border-radius: 10px;
    display: inline-block;

}

img {
    width: 45% ;
    height: 45%;
    display: inline;
}

span{
    display: inline;
}


.smallboxm{
    background-color: greenyellow;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 25px;
}