.bigboxm{
    width:40%;
         padding-right: 2%;
         padding-left: 2%;
         padding-top: 2%;
         padding-bottom: 2%;
         margin-top: 2%;
         margin-right: 2%;
        border-radius: 25px;
        display: flex; 
        position: relative;
        flex:50%;
    
    }
    
    .span2{
        display: flex;
        
    }
    
    .image {
        width: 30% ;
       
        /* padding-left: 1%;
        padding-bottom: 1%;
        padding-top: 1%; */
        /* display: inline; */
        /* float: left; */
        
        /* overflow: auto; */
    
        /* position: absolute;
        top:1%;
        bottom: 1%; */
    
    }
    
    /* span{
        display: inline;
    } */
    
    
    .smallboxm{
     
        border-radius: 10px;
        /* float: center; */
        position: absolute;
        top: 20%;
        left: 35%;
        right: 10%;
        bottom: 20%;
        width: 60%;
        text-align: center;
        font-size: 2vw;
        
        /* padding-top: 3%;
        padding-bottom: 3%; */
    
    
    }
    
    .text{
        margin: 2% auto 2% auto;
    }
    
    
    .dgreen{
        background-color: #6DE779;
    }
    .lgreen{
        background-color: #CBF2CA;
    }
    
    .dred{
        background-color: rgba(242, 72, 62, 0.52);
    }
    .lred{
        background-color: #FBDADA;
    }
    .dyellow{
        background-color: #FFFF5F;
    }
    .lyellow{
        background-color: #FDFDBD;
    }
    .dblue{
        background-color: #12A9E9;
    }
    .lblue{
        background-color: #ACDBEF;
    }