body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.react-calendar {
  width: 400px;
  height: 400px;
  max-width: 100%;
  background: #191c24 !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-top: 0 !important;
  justify-content: center;
  margin-left: 0 !important;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.calendar-comp {
  position: inherit !important;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  /* min-width: 700px; */
  /* box-shadow: 2px 2px rgba(1, 1, 1, 1); */
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

abbr {
  color: white;
}

.react-calendar__navigation__label__labelText {
  color: white;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar {
  min-width: 400px;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  min-width: 400px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.react-calendar__navigation {
  min-width: 400px;
}

.react-calendar__navigation button:enabled {
  background-color: #191c24 !important;
}

.react-calendar__navigation__arrow {
  color: white !important;
}

.react-calendar__navigation__prev2-button {
  color: white !important;
}

.react-calendar__navigation__next2-button {
  color: white !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}


.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  height: 80px;
  font-size: 1em;
}

.react-calendar__year-view .react-calendar__tile {
  padding: 2em 0.5em;
  height: 80px;
  font-size: 1em;
}

.react-calendar__decade-view .react-calendar__tile {
  padding: 2em 0.5em;
  height: 80px;
  font-size: 1em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  border-radius: 5px;
  height: 60px;
  width: 80px;
  font-size: 1em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  color: #09021f;

}

.react-calendar__tile--now {
  background: #6cbbe3;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #71dce8;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #0e98af;
  color: black;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #32c5de;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}



.add-expense-popup {
  top: 15vh;
  left: 36vw;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* width: 30vw; */
  padding: 10px;
  background-color: #83959b;
  z-index: 10;
}

.add-expense-date,
.add-expense-item,
.add-expense-amount,
.add-expense-category,
.add-expense-description {
  background-color: #84e2cf;
  margin-top: 10px;
  padding: 5px 3px 3px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-expense-item input,
.add-expense-amount input,
.add-expense-category select,
.add-expense-description input {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #F5F5F5;
  width: 200px;
  margin-left: 5px;
}

.add-expense-category select {
  /* width: 100%; */
  margin-left: 5px;
}

.add-expense-date input {
  border: 2px solid black;
  width: 200px;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 5px;

}

.add-expense-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

}

.add-expense-submit button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.everything {
  display: flex;
  background-color: #000;
  padding-top: 10px;
  height: 100%;
  padding-bottom: 21px;
  /* margin-bottom: 10px; */
}

.expenses-comp ul .hi {
  background-color: #191c24;
  color: white;
}

.btn.btn-primary {
  background: rgb(248, 169, 26) !important;
  border: 1px solid #e3b04b !important;
  color: #fff !important;
}

.dailytransactions {
  color: white;
  margin-top: 10px;
  align-items: center;
  position: relative !important;
}

.image {
  height: 100px;
  display: block;
  width: 100px;
}

.left-block {
  width: 30vw;
  margin-left: 15px;
}

.everything {
  /* display: flex; */
  flex-wrap: wrap;
}

.bigboxm {
  background-color: #191c24;
  border-radius: 10px;
  display: flex !important;
  align-items: center;
}

.smallboxm {
  position: inherit;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 0 !important;
}

.expenses-comp ul {
  padding-left: 0px;

}

.middle-block {
  margin-left: 15px;
  width: 60%;
}

.hi {
  border-radius: 10px !important;
}

.listelement {
  width: 100%;

}

.content-lower {
  justify-content: space-between;
  align-items: center;
}

.content-lower a {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.expenses-comp {
  font-size: 10rem;
}

.bigboxm {
  width: 40%;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex: 50%;

}

.span2 {
  display: flex;

}

.image {
  width: 30%;
}

.smallboxm {
  border-radius: 10px;
  margin-left: 10px;
  width: 100%;
  text-align: center;
  font-size: 2vw;
}

.text {
  margin: 2% auto 2% auto;
}


.dgreen {
  background-color: #6DE779;
}

.lgreen {
  background-color: #CBF2CA;
}

.dred {
  background-color: rgba(242, 72, 62, 0.52);
}

.lred {
  background-color: #FBDADA;
}

.dyellow {
  background-color: #FFFF5F;
}

.lyellow {
  background-color: #FDFDBD;
}

.dblue {
  background-color: #12A9E9;
}

.lblue {
  background-color: #ACDBEF;
}

.hi {
  background-color: grey;
  border-radius: 25px;
  margin-bottom: 2%;
  /* padding-bottom: 3%; */
}

.listdetails {
  padding-left: 3%;
  padding-right: 3%;
}

.listimage {
  width: 10%;
}

.listname {

  font-size: 1.5rem;
  font-weight: 600;
  bottom: 50%;

}

.listdate {

  font-size: 1.1rem;
  bottom: 5%;
}

.list-type {

  bottom: 5%;
  font-size: 1.1rem;
  left: 50%;
}

.listmoney {

  font-size: 1.5rem;
  right: 10%;
  bottom: 50%;

}

.listdescription {
  /* background-color: gold; */
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 2%;
  /* padding-top: 2%; */
  width: 100%;
}

.listdesc {
  margin: 0;
  border: 0;
  /* background-color:blueviolet; */
  padding: 0;
  font-size: 1rem;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.listcollapsebutton {

  top: 40%;
  right: 10%;
  width: 7%;
  height: 50%;
  font-size: vw;
  background-color: gray;
  border-color: black;
  margin: 2% auto 2% auto;

}


.everything {
  position: relative;

}


.monthsummary-comp {

  top: 72%;
  left: 2%;
  width: 30%;
}

.dailytransactions {
  margin-top: 0 !important;
  font-size: 3.5vw;
  font-weight: bolder;

}

.expenses-comp {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.dailysummary-comp {
  position: relative;
  left: 93%;
  width: 6%;
  height: 80%;

}

.content-upper {
  display: flex;
  justify-content: space-between;
}

.content-lower {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:1110px) {

  .big-container-expenses {
    /* display: block !important; */
    display: flex;
    flex-direction: column !important;
    width: 60vw;
  }

  .left-block {
    width: 50vw;
  }

  .bigboxm {
    min-width: 150px;
  }

  .middle-block {
    justify-content: center;
    min-width: 400px;
    width: 60vw;
  }

  .span2 {
    width: 50vw;
  }

  .expenses-comp {
    min-width: 400px;
    width: 60vw;

  }

  .calendar-comp {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 0px;
  }

  .dailytransactions {
    display: flex;
    justify-content: center;
  }

}

.btn-custom {
  background-color: #3A98B9 !important;
}