* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: spa; */
    /* align-items: center; */
    /* height: 140vh; */
    background-color: #000000;
    padding: 10px;
}


.dashboard-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;

}

.dashboard-upper-right,
.dashboard-upper-left-top,
.dashboard-upper-left-bottom,
.dashboard-lower {
    background-color: #191c24;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}

.dashboard-upper-left {
    margin-right: 15px;
    /* width: 52vw; */
    min-width: 60%;
}

.dashboard-upper-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
}

.dashboard-upper-left-top {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
}

.dashboard-upper-left-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}





@media screen and (max-width:1100px) {
    .dashboard-upper {
        flex-direction: column;
    }

    .dashboard-upper-left {
        width: 100%;

    }

    .dashboard-upper-right {
        width: 100%;
    }
}

.dashboard-lower {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 40vw; */
}

.bargraph-show-last {
    /* position: relative; */
    bottom: 2vh;
    left: 41vw;
}

.bargraph-show-last input {
    margin-right: 5px;
}

/* .progressbar {
    position: relative;
    top: 200px;
    right: 80%;

}

.piechart {
    position: relative;
    bottom: 20%;
    left: 10%;

}

.bargraph {
    position: relative;
    bottom: 20%;
    left: 30%;

}

.linegraph {
    position: relative;
    top: 250px;
    right: 10%;

} */