@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 12px;

    border: #0f2027;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form h3 {
    color: #0f2027;
    text-align: center;
}

#form h4 {
    color: blue;

}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: rgb(171, 169, 169);
    position: relative;
    left: 38%;
    background-size: contain;
    border: none;
    border-radius: 50%;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    border-color: grey;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control select {
    border: 2px solid #f0f0f0;
    border-color: grey;
    border-radius: 10px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    border-color: grey;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

/* .input-control input:focus {
    outline: 0;
} */

/* .input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
} */

/* .input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
} */